<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.txt">
  <!--autoReload:自动再配置-->
  <!--internalLogLevel：日志级别-->
  <!--internalLogFile：Nlog内部日志文件-->
  <!--NLog记录等级:
                Trace - 最常见的记录信息，一般用于普通输出
                Debug - 同样是记录信息，不过出现的频率要比Trace少一些，一般用来调试程序
                Info - 信息类型的消息
                Warn - 警告信息，一般用于比较重要的场合
                Error - 错误信息
                Fatal - 致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。
                自上而下，等级递增。-->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--定义配置文件中用到的变量-->
  <variable name="basePath" value="Logs"/>
  

  <!-- the targets to write to -->
  <!--定义日志的目标/输出-->
  <!--Layout布局:
                几种常见的
                ${var:basePath} basePath是前面自定义的变量
                ${longdate} 日期格式 2017-01-17 16:58:03.8667
                ${shortdate}日期格式 2017-01-17 
                ${date:yyyyMMddHHmmssFFF} 日期 20170117165803866
                ${message} 输出内容
                ${guid} guid
                ${level}日志记录的等级
                ${logger} 配置的logger-->
  <targets>
    <!--控制台日志-->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!-- 文件日志 -->
    <target xsi:type="File" name="allfile" fileName="${basePath}/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <!--定义日志的路由规则-->
  <rules>
    <!--所有日志包括系统信息-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>